<a class="btn btn-primary" title="reload once" href="#" onclick="document.location.reload();"><i class="icon-repeat" title="repeat"></i></a>
<br /><br />

<table class="table table-bordered table-striped table-condensed" style="width: 500px;">
	<tbody>
		<tr><td>Average load (last minute):</td><td><%=@usw.uw_load%></td></tr>
		<tr><td>CPU used:</td><td><%=@usw.uw_cpuused%>%</td></tr>
		<tr><td>Memory used:</td><td><%=@usw.uw_memused%>%</td></tr>
		<tr><td>Disk used:</td><td><%=@usw.uw_diskused%> Gb</td></tr>
		<tr><td>TCP connections:</td><td><%=@usw.uw_tcpused%></td></tr>
		<tr><td>UDP Connections:</td><td><%=@usw.uw_udpused%></td></tr>
	</tbody>
</table>