<a class="btn btn-primary" title="reload once" href="#" onclick="document.location.reload();"><i class="icon-repeat" title="repeat"></i></a>
<br /><br />

<table id="sortable" class="table table-bordered table-striped table-condensed tablesorter">
	<thead>
		<tr><th>name</th><th>uid</th><th>pid</th><th>ppid</th><th>%&nbsp;CPU</th><th>%&nbsp;Memory</th><th>tty</th><th>command</th></tr>
	</thead>
	<tbody>
<% @proctable.each do |p| %>
	<%#=p%>
	<tr><td><%= p.name %></td><td><%= p.uid %></td><td><%= p.pid %></td><td><%= p.ppid %></td><td><%= p.pctcpu %></td><td><%= p.pctmem %></td><td><%= p.tty_nr %></td><td><%= p.cmdline %></td></tr>
<% end  %>
	</tbody>
</table>

<script>
$(document).ready(function()
    {
        $("#sortable").tablesorter();
    }
);
</script>
