/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require jquery-ui/tabs
 *= require jquery-tablesorter/theme.bootstrap
 */

th.tablesorter-headerAsc {
    background: url(desc.gif) #C9E9FF no-repeat -5px 13px;
}

th.tablesorter-headerDesc {
    background: url(asc.gif) #C9E9FF no-repeat -5px 13px;
}

th.tablesorter-headerUnSorted {
    background: url(unsorted.gif) no-repeat -5px 10px;
}

.tablesorter-header-inner {
	padding-left:8px;
}

.container {
	padding-top: 5px;
}

.nav {
	margin-bottom: 0px !important;
}

.tabcontent {
	padding: 20px 5px 5px 5px;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}
