<table id="sortable" class="table table-bordered table-striped">
  <tr><td>OS:</td><td><%=  @facter['os']['lsb']['distdescription'] %> (<%=  @facter['os']['family'] %>)</td></tr>
  <tr><td>Kernel:</td><td><%=  @facter['kernelrelease'] %></td></tr>
  <tr><td>Architecture:</td><td><%=  @facter['hardwaremodel'] %></td></tr>
  <tr><td>CPU count:</td><td><%= @facter['processors']['count'] %> (<%= @facter['processors']['physicalcount'] %> physical)</td></tr>
  <tr><td>Memory size:</td><td><%= @facter['memorysize_mb'] %> MB</td></tr>

  <tr><td>CPU(s):</td><td></td></tr>
  <% @facter['processors']['models'].each do |p| %>
	<tr><td colspan="2"><%= p %></td></tr>
  <%  end %>
</table>
