<!DOCTYPE html>
<html>
<head>
  <title>Overlord</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="container">
	<div id="tabs" class="tabbable">
	<ul class="nav nav-tabs nav-justified">
	  <li class="<%= 'active' if current_page?(controller: 'info') || current_page?('/')  %>"><a href="<%=url_for :controller => "info" %>">System information</a></li>
	  <li class="<%= 'active' if current_page?(controller: 'resources') %>"><a href="<%=url_for :controller => "resources"  %>">Used resources</a></li>
	  <li class="<%= 'active' if current_page?(controller: 'pslist') %>"><a href="<%=url_for :controller => "pslist" %>">Process list</a></li>
	</ul>
	</div>
	
	<div class="tabcontent">
	<%= yield %>
	</div>
	
  </div>

</body>
</html>
